* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #19294d;
  font-size: 16px;
}

#add_book {
  margin: 2rem 2.9rem;
  font-size: 5rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: aqua;
}

#add_book:hover {
  cursor: pointer;
  transform: scale(1.3);
}

#add_book:focus {
  outline: 0;
  box-shadow: 0 0 3pt 2.9pt aqua;
  transform: scale(1.1);
}

.form_section {
  display: none;
}

.form_popup {
  display: flex;
  flex-direction: column;
  background: #3d5a80;
  width: 280px;
  height: 285px;
  border-radius: 10px;
  transform: scale(1.4);
  position: absolute;
  margin-left: 780px;
  margin-top: 40px;
  justify-content: space-around;
}

.close_btn {
  position: absolute;
  top: 5px;
  right: 4px;
  color: white;
  cursor: pointer;
}

.form_popup input {
  margin: 0 20px 0 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.form_popup label {
  margin: 20px 0 20px 20px;
  color: white;
}

#submit {
  color: black;
  outline: none;
}

#submit:hover {
  transform: scale(1.02);
}

.book_cards {
  background: #14213d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background: #f29602;
  border-radius: 15px;
  width: 280px;
  height: 330px;
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card:hover {
  transform: scale(1.04);
}

.options {
  width: 280px;
  display: flex;
  justify-content: space-around;
}

.remove {
  background: black;
  color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border: none;
  margin-right: 7rem;
  outline: none;
}

.toggle_read {
  font-size: 1.4rem;
  background: transparent;
  border: none;
  color: black;
  margin-bottom: 22px;
  outline: none;
}

.remove:hover {
  transform: scale(1.1);
}

.toggle_read:hover {
  transform: scale(1.2);
}

.remove {
  margin-bottom: 1.7rem;
}

#author {
  margin-bottom: 0.4rem;
}

#pages {
  margin-bottom: 1.4rem;
}
